# Logs
*/logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.trae

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

raw
data
resource
.ipynb_checkpoints
*.ipynb_checkpoints
*.ipynb
ipynb

__pycache__
*.pyc

ner_ckpt
*_kg.json

docs

d_etcif_model*

backend.exe
*.json
*.csv

*.bat
SYSTEM.md